chempy==0.10.1
Django==5.2.4
djangorestframework==3.16.0
drf_spectacular==0.28.0
python-dotenv==1.1.0
rdkit==2025.3.2
Requests==2.32.3
psycopg[binary]==3.2.6
SQLAlchemy==2.0.40
celery[sqlalchemy]==5.5.2
msgpack==1.1.0
amqp==5.3.1
django-cors-headers==4.7.0
django-filter==25.1
django-celery-results==2.6.0
redis[hiredis]==5.3.0
django-rest-knox==5.0.2
dj-rest-auth[with_social]==7.0.1
email-validator==2.2.0
bcrypt==4.3.0
pyfsig==1.1.1
django-clamd==1.0.0
django-import-export[all]==4.3.8
django-import-export-extensions==1.8.0